*-uninstalled.pc
*.a
*.gch
*.la
*.lo
*.o
*.orig
*.rej
.*.sw?
.deps
.libs
.perf
.vimrc
ABOUT-NLS
AUTHORS
COPYING
ChangeLog
Makefile
Makefile.in
NEWS
README
TODO
aclocal.m4
autom4te.cache
autoscan.log
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
doltcompile
doltlibtool
libtool
m4/*
missing
mkinstalldirs~
releases
stamp-h
stamp-h.in
stamp-h1
wxOil/svnversion.h
wxOil/xrc/EN/xrc.check
xara-cairo
xarasvgfilter*
